.modal-style{
  margin-left: 30%;
  margin-right: 30%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin-top: 10vh;
  padding: 2% 5%;
}

.cross-btn{
  position: absolute;
  right: 31%;
  top: 12vh;
}

input[type="text"],
select{
  height: 2.3rem;
  border-radius: 5px;
  border: 1px solid #1d1c1c;
  padding-left: 10px;
  padding-right: 10px;
}